@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}

:root{
    --primary-color:#2D628B;
    --secondary-color: #42BFDD;
    --accent1-color:#BBE6E4;
    --accent2-color: #F0F6F6;
    
    --heading-font:var(--primary-color), Sans;
    --paragraph-font:var(--secondary-color),roboto;

    --nav-background-color:#6B6054;
    --nav-link-color:#929487;
    --nav-hover-link-color:#D5ECD4;
    --nav-hover-background-color:#A1B0AB;
}

Header{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 4fr;
}

.logo{
    margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div{
    position: relative;

}

div h1{
    position: absolute;
    top: 30px;
    left: 450px;
}

article{
    position: absolute;
    top: 200px;
    left: 70px;
}

article img{
    float: right;
    width: 10%;
    height: auto;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 25px;
    font-family: var(--paragraph-font);
}

nav {
    /*background-color: var(--nav-background-color);*/
    font-size: 1.2rem;
    grid-column: 2/3;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Class Selector */

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.article img{
    width: 200px;
    height: auto;
}

.box{
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: rgba(70, 131, 180, 0.322);
    color: white;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: rgba(70, 131, 180, 0.322);
    color: white;
}
.head{
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: rgba(15, 23, 31, 0.699);
    color: #42BFDD;
}